DELPHER_DATA_FILE=
LLM_NAME="QuantTrio/Qwen3.6-27B-AWQ"
LLM_REDDIT_DATA_SOURCE=huggingface

HF_RESULTS_REPO_ID=niekvdpas/p3-classification-results
HF_REPO_ID=niekvdpas/reddit-languages-data

NUM_GPUS=2
HF_TOKEN=
