click==8.3.2
dill==0.4.1
dotenv==0.9.9
fasttext==0.9.3
ftfy==6.3.1
huggingface-hub>=0.34.0
joblib==1.5.3
nltk==3.9.4
numpy==2.4.4
packaging==26.1
pandas==3.0.2
pybind11==3.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
regex==2026.4.4
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
small-text==1.4.1
threadpoolctl==3.6.0
tqdm==4.67.3
wcwidth==0.6.0
